fastapi
uvicorn
python-dotenv
google-generativeai
python-multipart
pymupdf
tqdm
pandas
requests
python-pptx
chromadb
typing-extensions
sqlalchemy
psycopg2-binary
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pypdf
python-docx
